input {
  background-color: transparent;
}

input:focus {
  outline: none;
}

input[type=time] {
  width: 6em;
  border: none;
  font-size: 1.6em;
  border-bottom: 1px dashed black;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 16px 0;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.8rem;
  cursor: pointer;
  background: #009688;
  border-radius: 1em;
  border: 1px solid #00796B;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.8rem;
  cursor: pointer;
  background: #009688;
  border-radius: 1em;
  border: 1px solid #00796B;
}

input[type=range]::-webkit-slider-thumb {
  cursor: pointer;
  border: 1px solid #999999;
  height: 2em;
  width: 2.2rem;
  border-radius: 0.5rem;
  background: #FAFEFA;
  margin-top: -0.5rem;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  cursor: pointer;
  border: 1px solid #999999;
  height: 2em;
  width: 2.2rem;
  border-radius: 0.5rem;
  background: #FAFEFA;
}