@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  margin: 0;
  padding: 0;
  color: #212121;
  background: #009688;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #FFEB3B;
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0 0 0.4rem;
  font-weight: normal;
}

header, main {
  padding: 1rem;
}

header {
  background-color: #00796B;
}

header nav {
  text-align: center;
  user-select: none;
}

header nav h3 {
  margin: 0 0.6rem;
  display: inline-block;
}

main {
  display: flex;
  justify-content: center;
}

main>div {
  position: relative;
  width: 100%;
  margin: 2rem;
  padding: 1rem 2rem;
  text-align: center;
  background: #FAFAFA;
  border-radius: 4px;
  animation: fade ease-out 0.4s;
}

@keyframes fade {
  from {
    top: 1rem;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

section {
  margin: 0 1rem 1rem;
}