@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  margin: 0;
  padding: 0;
  background: #009688;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #CDDC39;
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 500;
}

header, main {
  padding: 1rem;
}

header {
  background-color: #00796B;
}

header nav {
  text-align: center;
  user-select: none;
}

header nav h3 {
  margin: 0 0.6rem;
  display: inline-block;
}

main {
  display: flex;
  justify-content: center;
}

main>div {
  width: 100%;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  background: #FAFAFA;
  border-radius: 4px;
}

section {
  padding: 1rem 0;
  margin: 0 1.4rem;
}